@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

html {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  /* font-family: "providence-bold";
  src: url("/font/providence-bold.regular.ttf"); */
  box-sizing: inherit;
}

body {
  color: #2b2b2b;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.brand-name {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: -5px;
  color: black;
}
.brand-name span {
  color: #ff4157;
}
.container {
  padding: 2rem 3%;
}
.secondary-header .secondary-header__social-links {
  height: 5vh;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.secondary-header__social-links i {
  color: white;
  padding: 0 1rem;
}

.secondary-header__social-links:hover {
  color: #ff4157;
}

.primary-header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-toggler {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
}

.nav-toggler span {
  background-color: black;
  width: 1.3rem;
  margin: 0.1em;
  height: 4px;
}

.navbar .nav-links {
  display: none;
}

.navbar .nav-links.nav-active {
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%; */
  position: absolute;
  top: 5rem;
  left: 1rem;
  background-color: blanchedalmond;
}

.nav-links.nav-active li {
  margin: 1em 0;
}

.navbar .nav-item a {
  color: black;
}

.navbar .nav-item a:hover {
  color: white;
}

.navbar .nav-item:hover {
  color: #fff;
  background-color: #ff4157;
}

.nav-item.active {
  background-color: #ff4157;
}

.nav-item.active a {
  color: white;
}
.nav-item.active a:hover {
  color: white;
  background-color: #ff4157;
}

.navbar .btn {
  background-color: #ff4157;
  color: white;
  padding: 0.7rem 1.5rem;
}

.carousel {
  background-image: url("../assets/images/banner2.jpg");
  height: 40vh;
}

.services .circle {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: #f8f9f0;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .circle img {
  width: 5rem;
  margin: 0 auto;
  /* height: auto; */
}

.services .services-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery .gallery-images {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2em;
  justify-content: center;
  align-items: center;
}

.choose-package {
  background-image: url("../assets/images/vacation-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 2rem 0;
  color: white;
}

.choose-package__description {
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 4rem;
}

.choose-package__description .btn {
  background-color: #ff4157;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  color: white;
}

.choose-package__description h2,
p {
  margin-top: 1.5rem;
}

.overview-container-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  column-gap: 1rem;
}

.overview-container-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  column-gap: 1rem;
}
.overview-container__main-card {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.overview-container__main-card .overview__cards--card__btn {
  padding: 0.5em 1.5em;
  margin-top: 2em;
}
.overview-container__sub-card .card-title {
  margin-top: 1em;
}

.testimonial {
  padding: 2rem;
}
.testimonial__testimonial-content {
  background-color: black;
  color: white;
  border-radius: 1rem;
}

.testimonial-content--paragraph-div {
  padding: 1.5em;
}

.testimonial-content--paragraph-div p {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.testimonial__user-info {
  display: flex;
  background-color: #ff4157;
  padding: 1rem;

  border-radius: 1rem;
}

.testimonial__user-info img {
  margin-right: 1rem;
}
.blog-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.blog-container .blog-container__posts {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  margin-top: 1.5em;
}

.blog-container__posts:not(:last-child) {
  margin-bottom: 5em;
}

.blog-post h3 {
  margin: 1rem 0;
}
/* .blog-post .blog-activities {
  display: flex;
  align-items: center;
} */

.blog-activities span {
  margin-right: 1em;
}

.blog-activities span i {
  margin-right: 0.5em;
}

.blog-activities .blog-post__btn {
  padding: 0.7em 1.5em;
  margin-top: 2em;
}

.blog-activities .paragraph-2 {
  width: 100%;
}

.get-in-touch div {
  display: flex;
  margin-top: 1em;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 4em;
}

footer {
  background-color: #162541;
  color: white;
}
.map-div i,
.email-div i,
.telephone-div i {
  color: #ff4157;
  margin-right: 1.5em;
  cursor: pointer;
}

footer h2 {
  margin-bottom: 2em;
}
footer a {
  color: white;
  text-decoration: none;
}

.footer-social-links {
  display: flex;
  margin: 2em 0;
}

.footer-social-links a i {
  margin-right: 1em;
  color: white;
  border: 1px solid white;
  padding: 0.5em;
}

.footer-social-links a i:hover {
  color: #ff4157;
  border: 1px solid #ff4157;
}
input[type="email"] {
  padding: 1em;
  width: 80%;
}

/* .email-span {
  position: relative;
} */
.email-span button {
  display: inline-block;
  padding: 1em;
  background-color: white;
  margin-right: initial;
}

.explore ul li {
  margin-top: 1em;
}

.explore ul li a {
  cursor: pointer;
}

.explore ul li a:hover {
  color: #ff4157;
}

#scroll-top {
  background: #ff4157;
  bottom: 40px;
  color: #fff;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 9999;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.scroll-top span {
  display: inline-block;
}

#scroll-top.showBtn {
  display: none;
}

#scroll-top span {
  display: block;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem max(3%, 15%);
  }

  .navbar {
    flex-wrap: wrap;
  }
  .navbar .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    order: 2;
  }

  .navbar .nav-item {
    padding: 0.5em;
  }

  .navbar .nav-item a {
    font-size: 0.9em;
  }

  .nav-toggler {
    display: none;
  }
  .choose-package {
    height: 40vh;
  }

  .overview-container__main-card {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* .overview-container-1,
  .overview-container-2,
  .overview-container__main-card {
    flex-wrap: wrap;
  } */

  .overview-container__sub-card .card-title {
    margin-top: initial;
  }

  .blog-container .blog-container__posts {
    flex-wrap: wrap;
  }

  .blog-container__posts:not(:last-child) {
    margin-bottom: initial;
  }

  .testimonial-content--paragraph-div {
    padding: 2rem 4rem;
  }

  .testimonial__user-info {
    padding: 1rem 4rem;
  }

  footer .container {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  /* .container {
    padding: 2rem max(3%, 20%);
  } */

  .navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navbar .nav-links {
    display: flex;
    align-items: center;
    width: initial;
  }

  .navbar .nav-item {
    padding: 0.5em;
  }

  .navbar .nav-item a {
    font-size: 0.9em;
  }

  .navbar .btn-book {
    order: 2;
  }

  .choose-package {
    height: 30vh;
  }

  .overview-container__main-card {
    justify-content: space-between;
  }
  .overview-container-1,
  .overview-container-2,
  .overview-container__main-card {
    flex-wrap: nowrap;
  }

  .overview-container__sub-card .card-title {
    margin-top: initial;
  }

  .blog-container .blog-container__posts {
    flex-wrap: nowrap;
  }

  .blog-container__posts:not(:last-child) {
    margin-bottom: initial;
  }

  .testimonial-content--paragraph-div {
    padding: 2rem 4rem;
  }

  .testimonial__user-info {
    padding: 1rem 4rem;
  }

  footer .container {
    flex-wrap: nowrap;
  }
}
